certifi==2022.12.7
chardet==3.0.4
googleapis-common-protos==1.5.3
grpcio==1.14.1
grpcio-tools==1.14.1
grpclib==0.1.1
h2==3.0.1
hpack==3.0.0
hyperframe==5.1.0
idna==2.7
mock==2.0.0
multidict==4.4.0
numpy==1.15.1
pandas==0.23.4
pbr==4.2.0
protobuf==3.6.1
python-dateutil==2.7.3
pytz==2018.5
requests==2.20.0
six==1.11.0
urllib3==1.23
